body { background: #7c594d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 16px; display: flex; }
.block-metrics-0 { color: #c638ee; font-size: 15px; margin-bottom: 5px; }
.block-token-1 { color: #330c56; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #bf8249; font-size: 18px; margin-bottom: 5px; }
.block-notify-3 { color: #2901b4; font-size: 19px; margin-bottom: 5px; }
.block-router-4 { color: #eca4a6; font-size: 18px; margin-bottom: 5px; }
.block-email-5 { color: #fe3f4e; font-size: 13px; margin-bottom: 5px; }